.chatbox {
	background-color: #e8e8e8;
	height: calc(100vh - 64px - 8px - 1rem);
	display: flex;
	flex-direction: column;
	gap: 1rem;
	// padding: 1rem;
	background-color: white;
	margin-bottom: 1rem;
	box-shadow: 0 2px 10px 0 #bbbbbb54;
	border-radius: 0.5rem;

	::-webkit-scrollbar {
		display: none;
	}
}
