<section class="intro-container">
	<header>
		<h3>Pharma Connect</h3>
	</header>

	<div class="content">
		<h1>Start your journey with us.</h1>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor modi laudantium aut!</p>
	</div>

	<footer>
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic explicabo possimus quia odit ipsum
		eveniet quam reiciendis, nam aspernatur modi.
	</footer>
</section>

<section class="form-container">
	<header>
		<h1 class="title">Login</h1>
		<p class="subtitle">Don't Have A Account? <a routerLink="signup">Signup</a></p>
	</header>

	<form class="form-wrapper">
		<app-form-field for="email">
			<app-form-label>Email</app-form-label>
			<input app-form-input type="email" placeholder="Enter your email" />
		</app-form-field>

		<app-form-field for="password">
			<app-form-label>Password</app-form-label>
			<input app-form-input type="password" placeholder="Enter your password" />
		</app-form-field>

		<footer>
			<button app-button [full]="true">Login</button>
		</footer>
	</form>
</section>
