@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

@import './styles/variable';
@import './styles/reset.scss';

html,
body {
	background-color: $base-background;
	color: $base-background-color;
	font-size: $base-font-size;
	font-family: $poppins;
}

a {
	color: $primary;
	font-weight: 500;
}

.glass {
	backdrop-filter: blur(16px);
	border: 0.1px solid #ffffff3b;
	background-color: rgba(255, 255, 255, 0.1);
	background-image: linear-gradient(60deg, rgba(255, 255, 255, 0.1), rgb(101 101 101 / 15%));
}
