@import './styles/variable';
@import './styles/reset.scss';

html,
body {
	background-color: $base-background;
	color: $base-background-color;
	font-size: $base-font-size;
	font-family: sans-serif;
}
