@import './styles/fonts';
@import './styles/variable';
@import './styles/reset.scss';

@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

html,
body {
	background-color: $base-background;
	color: $base-background-color;
	font-size: $base-font-size;
	font-family: map-get($fonts, primary);
}

a {
	color: $primary;
	font-weight: 500;
}
