@import '../../../styles/variable';

@mixin reset-btn {
	border: none;
	text-decoration: none;
}

:host {
	@include reset-btn();
	--scale: 1;

	outline-color: $btn-primary-base;
	outline-offset: 2px;
	font-size: 0.85rem;
	padding: 0.75rem 1.25rem;
	color: $btn-primary-color;
	background-color: $btn-primary-base;
	border-radius: $border-radius-sm;
	transition: background-color 100ms ease;
	cursor: pointer;
	transform: scale(var(--scale));

	&:is(.full) {
		width: 100%;
	}

	&:is(:hover, :focus, :active):not(:disabled) {
		background-color: darken($btn-primary-base, 5%);
	}

	&:is(:active) {
		--scale: 0.99;
		transition: transform 250ms ease;
		box-shadow: none;
	}

	&:is(:focus) {
		outline-style: solid;
	}

	&:disabled {
		background-color: grayscale($btn-primary-base);
	}
}
