:host {
	display: block;
	position: relative;
	border: 1px solid black;
	border-radius: 4px;
}

.select-btn {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0.75rem;
	border-radius: 0.25rem;
	// box-shadow: 0 5px 10px rgba(0, 0, 0, 0.108);
	font-size: 0.75rem;
	cursor: pointer;

	.btn-text {
		font-weight: 400;
		color: #333;
		font-size: 0.75rem;
	}
}

.list-item {
	z-index: 50;
	position: absolute;
	left: 0;
	top: 100%;
	transform: scaleY(0);
	transform-origin: top;
	width: 100%;
	margin-top: 1rem;
	overflow: hidden auto;
	background-color: white;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.108);
	padding: 4px;
	max-height: 300px;

	&:is(.active) {
		transform: scaleY(1);
		transition: all 150ms ease;
	}
}
