$primary: #0e7aa2;

/*#region Colors*/
$base-background: #f7f6f6;
$base-background-color: #111111;

$btn-primary-base: #0e7aa2;
$btn-primary-color: white;
/*#endregion*/

/*#region Fonts*/
$base-font-size: 1rem;
/*#endregion*/

/*#region Border Size*/
$border-radius-sm: 4px;
/*#endregion*/

/*#region Border Screen Width*/
$screen-sm: 480px;
$screen-md: 576px;
$screen-lg: 720px;
$screen-xl: 1024;
/*#endregion*/
