$primary: #3c37ff;
$secondary: #a1a1a1;

/*#region Colors*/
$base-background: #ffffff;
$base-background-color: #111111;

$btn-primary-base: #3c37ff;
$btn-primary-color: white;
/*#endregion*/

/*#region Fonts*/
$base-font-size: 1rem;
/*#endregion*/

/*#region Border Size*/
$border-radius-sm: 0.4rem;
/*#endregion*/

$nunito: 'Nunito', sans-serif;
$roboto: 'Roboto', sans-serif;
$poppins: 'Poppins', sans-serif;

/*#region Border Screen Width*/
$screen-sm: 480px;
$screen-md: 576px;
$screen-lg: 720px;
$screen-xl: 1024px;
/*#endregion*/
