absl-py
aio-pika
aiofiles
aiohttp
aiormq
APScheduler
astunparse
async-generator
async-timeout
attrs
azure-core
azure-identity
backcall
bidict
black
boto3
botocore
cachetools
certifi
cffi
chardet
charset-normalizer
click
cloudpickle
colorclass
coloredlogs
colorhash
cryptography
cycler
decorator
dm-tree
dnspython
docopt
fbmessenger
future
gast
google-auth
google-auth-oauthlib
google-pasta
greenlet
grpcio
h11
h5py
httpcore
httplib2
httptools
httpx
humanfriendly
idna
importlib-metadata
ipython
jedi
jmespath
joblib
jsonpickle
jsonschema
kafka-python
Keras-Preprocessing
kiwisolver
Markdown
MarkupSafe
matplotlib
matplotlib-inline
mattermostwrapper
msal
msal-extensions
multidict
mypy-extensions
networkx
nltk
numpy
oauth2client
oauthlib
opt-einsum
packaging
pamqp
pandas
parso
pathspec
pexpect
pickleshare
Pillow
platformdirs
portalocker
prompt-toolkit
protobuf
psycopg2-binary
ptyprocess
pyasn1
pyasn1-modules
pycparser
pydot
Pygments
PyJWT
pykwalify
pymongo
pyodbc
pyparsing
pyrsistent
pyTelegramBotAPI
python-crfsuite
python-dateutil
python-engineio
python-socketio
pytz
questionary
rasa==2.8.0
rasa-sdk==2.8.6
redis
regex
requests
requests-oauthlib
requests-toolbelt
rfc3986
rocketchat-API
rsa
ruamel.yaml
ruamel.yaml.clib
s3transfer
sanic
Sanic-Cors
sanic-jwt
Sanic-Plugins-Framework
scikit-learn
scipy
sentry-sdk
six
sklearn-crfsuite
slackclient
sniffio
SQLAlchemy
tabulate
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow
tensorflow-addons
tensorflow-estimator
tensorflow-hub
tensorflow-probability
tensorflow-text
termcolor
terminaltables
threadpoolctl
tokenize-rt
tomli
tqdm
traitlets
twilio
typed-ast
typeguard
typing-extensions
tzlocal
ujson
urllib3
uvloop
wcwidth
webexteamssdk
websockets
Werkzeug
wrapt
yarl
zipp
selenium
webdriver_manager
