<section class="intro-container">
	<header>
		<h3>Pharma Connect</h3>
	</header>

	<div class="content">
		<!-- <h1>Start your journey with us.</h1> -->
		<app-title size="md">Start your journey with us.</app-title>
		<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolor modi laudantium aut!</p>
	</div>

	<footer>
		Lorem ipsum dolor sit amet consectetur adipisicing elit. Hic explicabo possimus quia odit ipsum
		eveniet quam reiciendis, nam aspernatur modi.
	</footer>
</section>

<!-- right section -->
<section class="form-container">
	<header>
		<h1 class="title">Signup</h1>
		<p class="subtitle">Have An Account? <a routerLink="/login">Login Here</a></p>
	</header>

	<form class="form-wrapper">
		<ng-container *ngIf="step === 0">
			<div class="fields">
				<app-form-field for="firstName">
					<app-form-label>First Name</app-form-label>
					<input app-form-input type="text" placeholder="Enter your first name" />
				</app-form-field>

				<app-form-field for="lastName">
					<app-form-label>Last Name</app-form-label>
					<input app-form-input type="text" placeholder="Enter your last name" />
				</app-form-field>
			</div>

			<div class="fields">
				<app-form-field for="gender">
					<app-form-label>Gender</app-form-label>
					<div class="fields">
						<div
							*ngFor="let gender of genders"
							class="radio-container"
							(click)="input.checked = true"
						>
							<input type="radio" name="gender" [value]="gender.id" [id]="gender.id" #input />
							<label [for]="gender.id">{{ gender.label }}</label>
						</div>
					</div>
				</app-form-field>
			</div>

			<app-form-field for="email">
				<app-form-label>Email</app-form-label>
				<input app-form-input type="email" placeholder="Enter your email" />
			</app-form-field>

			<app-form-field for="password">
				<app-form-label>Password</app-form-label>
				<input app-form-input type="password" placeholder="Enter your password" />
			</app-form-field>

			<app-form-field for="Languages">
				<app-form-label>Languages</app-form-label>
				<app-select
					placeholder="select month of birth"
					[(expand)]="isExpanded"
					(select)="onSelectHandler($event)"
					[value]="selectedToString()"
				>
					<app-select-item *ngFor="let language of languages" [value]="language">
						<input type="checkbox" [checked]="isSelected(language)" />
						<span style="font-size: 0.75rem"> {{ language.name }}</span>
					</app-select-item>
				</app-select>
			</app-form-field>
		</ng-container>

		<ng-container *ngIf="step == 1">
			<app-form-field for="email">
				<app-form-label>Languages</app-form-label>
			</app-form-field>
		</ng-container>

		<footer style="display: flex; justify-content: flex-end; gap: 1rem">
			<ng-container *ngIf="!isLastStep; else submitBtn">
				<button type="button" app-button (click)="nextStep()">Prev</button>
				<button type="button" app-button (click)="nextStep()">Next</button>
			</ng-container>
			<ng-template #submitBtn>
				<button type="submit" app-button [full]="true">Submit</button>
			</ng-template>
		</footer>
	</form>
</section>
